<div id="nav-options">
  <% if can? :edit, @bracket %>
    <%= link_to "Edit this bracket", edit_bracket_path, :class => "btn btn-primary" %>
  <% end %>
</div>

<h1> <%= @bracket.name %> </h1>

<%= render 'bracket' %>

<div class="clearfix"></div>
