<div id="nav-options">
  <%= link_to "Edit this bracket", edit_bracket_path, :class => "btn btn-primary" %>
</div>

<h1> <%= @bracket.name %> </h1>

<%= render 'bracket' %>

<div class="clearfix"></div>
