body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#nav-options {
  margin: 20px 0;
  text-align: right;
}

.alert-block .close {
  padding: 5px;
}

.alert-block {
  padding: 5px;
}

.hidden {
  display: none;
}

.container-fluid {
  width: 1200px;
  margin: auto;
}

hr {
  border: 2px solid #000;
}

.navbar a.brand {
  font-family: "Aldrich";
  text-transform: lowercase;
  color: #fff;
}
