@import 'bootstrap';

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#nav-options {
  margin: 20px 0;
  text-align: right;
}

#bracket-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px 0;
  font-size: 12px;
}

.alert-block .close {
  padding: 5px;
}

.alert-block {
  padding: 5px;
}