
<div class="row-fluid">
  <div class="span12">
    <h1>Try Bracket Generator</h1>
  </div>
</div>

<div class="row-fluid" style="width:1200px;">

  <div style="width:220px; float:left; margin-right:20px;">
    <div class="field">
      <label for="bracket_teams">Teams</label>
      <textarea name="bracket_teams" id="bracket_bracket_teams" cols="30" rows="20"></textarea>
    </div>

  </div>

  <div style="width:940px; float:left;">
    <div>
      <h2 id="bracket-name-box"></h2>
    </div>
    <div id="bracket-box" class="clearfix">
    </div>
  </div>

</div> <!-- end row-fluid -->
