<div class="hero-unit">
  <%= raw s 'home hero' %>
  <p><a href="/generator" class="btn btn-large">Try Bracket Generator &raquo;</a></p>
</div>

<div class="row-fluid home-features">
  <div class="span4">
    <%= raw s 'home box 1' %>
  </div>
  <div class="span4">
    <%= raw s 'home box 1' %>
  </div>
  <div class="span4">
    <%= raw s 'home box 1' %>
  </div>
</div>
