<div class="hero-unit">
  <%= raw s 'home hero' %>
</div>

<div class="row-fluid home-features">
  <div class="span4">
    <%= raw s 'home box 1' %>
  </div>
  <div class="span4">
    <%= raw s 'home box 2' %>
  </div>
  <div class="span4">
    <%= raw s 'home box 3' %>
  </div>
</div>
